<div class="angular-dataTable mobile-suitable">
    <div class="angular-dataTable-header" ng-if="source.showheader != false" style="margin : 0px auto 5px auto">
    <span ng-repeat="head in dataTable.buttons">
            <button ng-disabled = "head.dtdisabled(dataTable.data)"
                    class = "btn"
                    ng-click="buttonClick(head, row);$event.stopPropagation();" type="button" ng-class="buttonClass(head)">
              <i ng-class="head.icon"></i>
              <span ng-class="hidden-sm" ng-bind="getButtonLabel(head)"></span>
    </button>
    <span ng-if="head.type=='multiSelect'" data-id="head.id" data-mark="head.mark" data-submit="head.events.submit(data)" data-options="head.options" multi-select>
            </span>
    </span>
        <div class="combined-query pull-right" ng-show = "paymentRecords">
            <div class="btn-group" ng-class="{true:'open', false:''}[open]" style="display:block; float:left; margin-top : 0;">
                <button type="button" ng-disabled="wholeDisabled" class="btn btn-default btn-sm dropdown-toggle" ng-click="searchTypeClick();">
                    <span ng-bind="{true:'查询条件',false:getlabel(querytype)}[querytype==undefined]"></span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a role="button" ng-click="conditionClick(header, key);" ng-repeat="(key, header) in dataTable.body" ng-bind="getlabel(header)">
                        </a>
                    </li>
                </ul>
            </div>
            <span ng-if="querytype.search=='text' || querytype.search == undefined" style="display:block; float:left; margin : 0 6px;">
                 <input class="form-control input-sm"
                        ng-model="$parent.$parent.keyinput"
                        maxlength="40" type="text" />
            </span>
            <span ng-if="querytype.search=='select'" style="display:block; float:left; margin : 0 6px;">
                 <select ng-model="$parent.$parent.keyinput"
                         class="form-control"
                         style="padding-top: 2px;"
                         ng-options="item[querytype.filterFormat.value]
                          as item[querytype.filterFormat.label]
                          for item in querytype.options"><option value="">请选择...</option></select>
            </span>
            <span ng-if="querytype.type=='selectObj'" style="display:block; float:left; margin : 0 6px;">
                 <select ng-model="$parent.$parent.keyinput"
                         class="form-control"
                         style="padding-top: 2px;"
                         ng-options="item[querytype.filterFormat.label] for item in querytype.options"><option value="">请选择...</option></select>
            </span>
            <span ng-if="querytype.type=='tree'" style="display:block; float:left; margin : 0 10px;">
                <div class="dropdowntree select-sm"
                     placeholder="请选择..."
                     showclear="true"
                     ng-model="$parent.$parent.keyinput"
                     dt-key="querytype.key"
                     options="querytype.options"
                     dt-mark="querytype.mark"></div>
            </span>
            <span ng-if="querytype.type=='status'" style="display:block; float:left; margin : 0 10px;">
                 <select ng-model="$parent.$parent.keyinput"
                         class="form-control"
                         style="padding-top: 2px;"
                         ng-options="item.value as item.label for item in [{label : '已启用', value : 0},{label : '未启用', value : -1}]"><option value="">请选择...</option></select>
            </span>
            <button class="btn btn-primary btn-sm" style="display:block; float:left;margin-top : 0;" ng-disabled="wholeDisabled" ng-click="goSearch()" type="button">
                <i class="fa fa-search"></i>
                <span class="hidden-sm">查询</span>
            </button>
        </div>
    
    </div>
    
    <!-- dataTable's body, include filter search etc.-->
    <div class="angular-dataTable-body">
        <div class="dataTables_wrapper dt-bootstrap no-footer">
            <div class="dataTables_scroll">
                <div class="dataTables" style="position: relative; overflow: auto; width: 100%;">
                    <table width="100%" class="table table-hover no-footer dataTable" rappid-views-dom="" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        
                        <thead>
                        <tr role="row" style="height: 0px;">
                            <th style="width:14px;" ng-if="dataTable.showSelector != false" style="width:20px;" ng-click="allClick()">
                                <input type="checkbox" ng-model="$parent.allcheck" ng-disabled="wholeDisabled" style="pointer-events: none"/>
                            </th>
                            <th ng-if="dataTable.showIndex==true" style="width:20px;">序号</th>
                            
                            <th ng-repeat="(key, header) in dataTable.body" ng-click="sortClick(header, key)" ng-class="sorting(sortBy, header, key)" ng-class="{true : 'sorting', false : ''}[header.sortable]">
                                <div class="dataTables_sizing" ng-bind="getlabel(header)"></div>
                            </th>
                            <th ng-if="dataTable.hasButtons()" style="width:180px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="dataTable.data.length  < 1">
                            <td ng-attr-colspan="{{$parent.getFullLength()}}" style="text-align: center;">
                                没有符合条件的记录
                            </td>
                        </tr>
                        <tr role="row" style="cursor : pointer;" ng-if="dataTable.data.length > 0"
                            ng-repeat="row in currentPageData = (filterResult = (dataTable.data | filtersort : dataTable.body : sortBy : searchBy : dataTable.search) | limitTo : getSize() : getStartPoint())"
                            ng-init="rowInx = $index"
                            ng-class="trClass(row, source.rowclass)"
                            ng-click="trClick($event, row);source.events.click(row);">
                            <td ng-if="dataTable.showSelector != false">
                                <input type="checkbox" style="pointer-events: none" ng-model="row.selected" />
                            </td>
                            <td ng-bind="$index+1" ng-if="dataTable.showIndex==true"></td>
                            <td ng-repeat="(key, header) in dataTable.body"
                                ng-click="trClick($event,row, header, key);"
                                ng-style="{true : {width:header.width}, false : header.style(row, rowInx)}[header.style == undefined]"
                                data-field-label="{{header.label || header}}">
                                <span ng-bind="getData(row, header, key)" ng-if="getType(header) == 'text'"></span>
                                <span ng-if="getType(header) == 'severity'">
                                    <span class='label' ng-class="getData(row, header, key)[1]" style='color: #ffffff !important;'>{{getData(row, header, key)[0]}}</span>
                                </span>
                                <span ng-if="col.modes[{true : 'default', false : row.isEdit}[row.isEdit==undefined]].type=='input'"><input ng-model="row.cached[col.data]"
                           ng-attr-placeholder="{{col.modes[{true : 'default', false : row.isEdit}[row.isEdit==undefined]].placeholder}}"
                           class="form-control"
                           ng-click="$event.stopPropagation()"
                           style="width : 100%;"/></span>
                                <span ng-if="col.modes[{true : 'default', false : row.isEdit}[row.isEdit==undefined]].type=='tree'"><div class="dropdowntree"
                         placeholder="请选择..."
                         showclear="true"
                         ng-model="row.cached[col.data]"
                         dt-key="col.key"
                         options="col.options"
                         dt-mark="col.mark"></div></span>
                                <!-- toggle --->
                                <div ng-if="col.type=='toggle'">
                                    <div fb-toggle
                                         ng-model="row[col.data]"
                                         data-change="col['events']['click'](row, value)">
                                    </div>
                                </div>
                                <!-- toggle --->
                            </td>
                            <td ng-if="dataTable.hasButtons()" data-field-label="操作">
                                <div class="btn-group btn-group-sm" ng-class="{true:'open', false :''}[row.open]">
                                    <button ng-repeat="op in dataTable.bodyButtons| limitTo : 2"
                                            ng-disabled="checkButtonDisabled(op)"
                                            ng-class="renderClass(op.class, row)"
                                            ng-click="buttonClick(op, row);$event.stopPropagation();">
                                        <i class="fa hidden-lg hidden-md hidden-sm" ng-class="getButtonIcon(op)"></i>
                                        <span class="hidden-xs" ng-bind="getButtonLabel(op)"></span>
                                    </button>
                                    <button ng-if="dataTable.bodyButtons.length > 2"
                                            type="button" class="btn btn-default dropdown-toggle"
                                            ng-disabled="row.disabled" ng-click="moreclick(row);$event.stopPropagation();">
                                        更多<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="op in dataTable.bodyButtons | limitTo : 10 : 2">
                                            <a role="button" ng-bind="getButtonLabel(op, row)" ng-show="checkButtonShow(op)"
                                               ng-click="buttonClick(op, row);$event.stopPropagation();row.open=false;">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-if="hasPages()">
                <div ng-class="{true:'col-sm-3', false : 'col-sm-2'}[source.miniSize == true]">
                    <div class="dataTables_length"><label>每页显示
                        <select class="form-control input-sm"
                                ng-disabled="wholeDisabled != false && pageResize"
                                ng-change="sizeChange(page.size)"
                                ng-model="page.size" ng-options="size as size for size in sizes"></select> 项</label></div>
                </div>
                <div ng-class="{true:'col-sm-3', false : 'col-sm-4'}[source.miniSize == true]">
                    <div class="dataTables_info" aria-live="polite" ng-bind="pageDescription()"></div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous" ng-class="isPrevBtnDisabled()" ng-click="page.prevPage()">
                                <a>上页</a>
                            </li>
                            <li class="paginate_button"
                                ng-class="{true:'active',false:''}[page.current == 0]"
                                ng-if="true" ng-click="page.moveTo(0)">
                                <a>1</a>
                            </li>
                            <li class="paginate_button disabled" ng-if="ifBeforeMarkShow()">
                                <a>…</a>
                            </li>
                            <li class="paginate_button"
                                ng-click="page.moveTo(pg)"
                                ng-class="{true:'active',false:''}[page.current == pg]"
                                ng-repeat="pg in middleRange()">
                                <a ng-bind="pg + 1"></a>
                            </li>
                            <li class="paginate_button disabled" ng-if="ifAfterMarkShow()">
                                <a>…</a>
                            </li>
                            <li class="paginate_button"
                                ng-class="{true:'active',false:''}[page.current == page.total - 1]"
                                ng-if="page.total > 1"
                                ng-click="page.moveTo(page.total - 1)">
                                <a ng-bind="page.total"></a>
                            </li>
                            <li class="paginate_button next" ng-class="isNextBtnDisabled()" ng-click="page.nextPage()">
                                <a>下页</a>
                            </li>
                            <!-- ssa = {{(viewfilter.length / size | number : 0)}} -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>