<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="box-tools pull-left nav-tabs-header">
            <ul class="nav nav-tabs" id="deploy" >
              <li  ng-class="{'active' : tab == 'tab1'}" name="tab1" ><a role="button" data-toggle="tab">属性配置</a></li>
              <li  ng-class="{'disabled' : modelId == 0, 'active' : tab == 'tab2'}" name="tab2"><a role="button" data-toggle="tab">数据配置</a></li>
              <li  ng-class="{'disabled' : modelId == 0, 'active' : tab == 'tab3'}" name="tab3"><a role="button" data-toggle="tab">设备文档</a></li>
            </ul>
          </div>
          <div class="box-tools pull-right">
            <span class="history-btn" ng-show="menuitems['#'+treeviewIndex] == null" data-toggle="返回" title=""
                  data-original-title="返回" onclick="window.history.back();" role="button"><i
              class="proudsmart ps-back-01"></i></span>
          </div>
        </div>
        <div ng-show="tab == 'tab1'" class="box-footer no-pad-top margin-top-15 no-border">
          <div class="bk-scope bk-theme-mini">
            <dl class="bk-group">
              <dt class="bk-group-title"><span>模板信息</span></dt>
              <dd class="bk-group-detail">
               <!-- <div class="bk-form-row">
                  <label class="bk-form-row-name"><span class="text-red">*</span>设备种类：</label>
                  <div class="bk-form-row-cell">
                    <div class="bk-form-row-li">
                      <select ng-model="selectedDitem.modelType" disabled ng-options="value.valueCode as value.label for value in model['modelType']" placeholder="请选择..." class="form-control bk-select bk-select-l2">
                        <option value="">请选择...</option>
                      </select>
                    </div>
                  </div>
                </div>-->
                <!--<div class="bk-form-row">
                  <label class="bk-form-row-name"><span class="text-red">*</span>产品系列：</label>
                  <div class="bk-form-row-cell">
                    <div class="bk-form-row-li">
                      <input type="text" disabled  ng-model="selectedDitem.series"  maxlength="32" class="bk-form-input bk-form-input-l2" placeholder="">
                    </div>
                  </div>
                </div>-->
               <!-- <div class="bk-form-row">
                  <label class="bk-form-row-name"><span class="text-red">*</span>设备型号：</label>
                  <div class="bk-form-row-cell">
                    <div class="bk-form-row-li">
                      <input type="text" maxlength="32" disabled ng-model="selectedDitem.modelNo"  class="bk-form-input bk-form-input-l2" placeholder="">
                    </div>
                  </div>
                </div>-->
                <div class="bk-form-row">
                  <label class="bk-form-row-name"><span class="text-red">*</span>模板名称：</label>
                  <div class="bk-form-row-cell">
                    <div class="bk-form-row-li">
                      <input type="text"  maxlength="32" disabled ng-model="selectedDitem.label" ng-model="selectedGateitem.name" class="bk-form-input bk-form-input-l2"
                             placeholder="">
                    </div>
                  </div>
                </div>
                <div class="bk-form-row">
                  <label class="bk-form-row-name">模板描述：</label>
                  <div class="bk-form-row-cell">
                    <div class="bk-form-row-li">
                      <textarea type="text"  disabled  ng-model="selectedDitem.desc"  class="bk-form-input bk-form-input-l2"></textarea>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="bk-group">
              <dt class="bk-group-title"><span>设备属性</span></dt>
              <dd class="bk-group-detail">
                <div class="row">
                  <div class="col-md-12  margin-bottom-20">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                      <ul class="nav nav-tabs">
                        <li ng-repeat=" t in attrType" ng-click="attrClick(t)" class="li-custom" ng-class="{'active' : attrTab == t.name}">
                          <a class="padding-left-10 "  role="button">{{t.name=='default'?'基础属性':t.name}}</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div  slim-scroll height='300px'>
                          <table ng-repeat="attr1 in attrType | filter:{ name :attrTab}" class="table table-hover dataTable">
                            <thead>
                            <tr role="row">
                              <th>属性名称</th>
                              <th>显示名称</th>
                              <th>数据类型</th>
                              <th>属性值</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="attrType.length > 0 " ng-repeat="attr in attr1.arr | orderBy:'createTime'">
                              <td>{{attr.name}}</td>
                              <td style="color:{{attr.values.color}};font-size: {{attr.values.fontsize}};">{{attr.label}}</td>
                              <td>{{dataTypeObj[attr.dataType].label}}</td>
                              <td ng-if="attr.dataType != 'datetime' && attr.dataType != 'date' ">{{attr.sourceValue}}{{attr.values?(attr.values.sensitive=='1'?'(敏感数据)':''):''}}</td>
                              <td ng-if="attr.dataType == 'datetime'">{{attr.sourceValue | date:'yyyy-MM-dd HH:mm:ss'}}{{attr.values?(attr.values.sensitive=='1'?'(敏感数据)':''):''}}</td>
                              <td ng-if="attr.dataType == 'date' ">{{attr.sourceValue | date:'yyyy-MM-dd'}}{{attr.values?(attr.values.sensitive=='1'?'(敏感数据)':''):''}}</td>

                            </tr>
                            <tr ng-if="attr1.arr <= 0 ">
                              <td valign="top" colspan="5" class="dataTables_empty"><i class="fa fa-success text-danger"></i>没有符合条件的记录</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>

          </div>
        </div>
        <div ng-show="tab == 'tab2'" class="box-footer no-pad-top margin-top-15 no-border">
          <div class="bk-scope bk-theme-mini margin-top-15 ">
            <dl class="bk-group">
              <dt class="bk-group-title"><span>数据项配置</span></dt>
              <dd class="bk-group-detail">
                <div class="row">
                  <div class="col-md-12  margin-bottom-20">
                    <div  class="box">
                      <table class="table table-hover dataTable">
                        <thead>
                        <tr role="row">
                          <th width="15%">数据项</th>
                          <th width="15%">名称</th>
                          <th width="10%">单位</th>
                          <th width="10%">数据分类</th>
                          <th width="10%">是否数值</th>
                          <th width="15%">取值范围</th>
                          <th width="10%">图标</th>
                        </tr>
                        </thead>
                      </table>
                      <div  slim-scroll height='300px' >
                        <table class="table table-hover dataTable">
                          <tbody>
                          <tr ng-if="model['kpi'].length > 0 " ng-repeat="kpi in model['kpi']">
                            <td width="15%">{{kpi.label}}</td>
                            <td width="15%">{{kpi.name}}</td>
                            <td width="10%">{{myOptionDic[kpi.unit]}}</td>
                            <td width="10%"><span ng-if="kpi.type == 'kpi'">测点</span><span ng-if="kpi.type == 'fault'">故障</span>
                            </td>
                            <td width="10%"><span ng-if="kpi.number == true">是</span><span ng-if="kpi.number == false ">否</span>
                            </td>
                            <td width="15%">{{kpi.range}}</td>
                            <td width="10%">
                              <div ng-if="kpi.icon" class="btn btn-social-icon btn-bitbucket btn-sm"><i
                                ng-class="kpi.icon"></i></div>
                            </td>
                          </tr>
                          <tr ng-if="model['kpi'].length <= 0 ">
                            <td valign="top" colspan="8" class="dataTables_empty">
                              <i class="fa fa-success text-danger"></i>没有符合条件的记录
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="bk-group">
              <dt class="bk-group-title"><span>解析协议</span></dt>
              <dd class="bk-group-detail">
                <div class="row">
                  <div class="col-md-12  margin-bottom-20">
                    <div slim-scroll height='300px'  class="box">
                      <table class="table table-hover dataTable">
                        <thead>
                        <tr role="row">
                          <th>接入协议</th>
                          <th>解析协议</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="model['config'].length > 0 " ng-repeat="config in model['config']">
                          <td>{{config.accessProtocol}}</td>
                          <td>{{config.analysisProtocol}}</td>
                        </tr>
                        <tr ng-if="model['config'].length <= 0 ">
                          <td valign="top" colspan="3" class="dataTables_empty"><i class="fa fa-success text-danger"></i>没有符合条件的记录</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="bk-group">
              <dt class="bk-group-title"><span>采集组配置</span></dt>
              <dd class="bk-group-detail">
                <div class="row">
                  <div class="col-md-12  margin-bottom-20">
                    <div  slim-scroll height='300px'  class="box">
                      <table class="table  table-hover dataTable">
                        <thead>
                        <tr role="row">
                          <th>分组编码</th>
                          <th>分组描述</th>
                          <th>采集周期</th>
                          <th>采集单位</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="model['taskData'].length > 0 " ng-repeat="task in model['taskData']">
                          <td>{{task.taskCode}}</td>
                          <td>{{task.description}}</td>
                          <td>{{task.taskCycle}}</td>
                          <td><span ng-repeat="value in myDicts['KqiGranularityUnit']" ng-if="value.valueCode == task.cycleUnit">{{value.label}}</span></td>

                        </tr>
                        <tr ng-if="model['taskData'].length <= 0 ">
                          <td valign="top" colspan="5" class="dataTables_empty"><i class="fa fa-success text-danger"></i>没有符合条件的记录</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="bk-group">
              <dt class="bk-group-title"><span>指令配置</span></dt>
              <dd class="bk-group-detail">
                <div class="row">
                  <div class="col-md-12  margin-bottom-20">
                    <div slim-scroll height='300px'  class="box">
                      <table class="table table-hover dataTable">
                        <thead>
                        <tr role="row">
                          <th>指令编码</th>
                          <th>指令名称</th>
                          <th>指令描述</th>
                          <th>类型</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="model['directives'].length > 0 " ng-repeat="dir in model['directives']">
                          <td>{{dir.commandCode}}</td>
                          <td>{{dir.name}}</td>
                          <td>{{dir.description}}</td>
                          <td><span ng-repeat="value in myDicts['commandType']" ng-if="value.valueCode  == dir.commandType">{{value.label }}</span></td>

                        </tr>
                        <tr ng-if="model['directives'].length <= 0 ">
                          <td valign="top" colspan="5" class="dataTables_empty"><i class="fa fa-success text-danger"></i>没有符合条件的记录</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
          </div>
        </div>
        <div ng-show="tab == 'tab3'" class="box-footer no-pad-top margin-top-15 no-border">
          <div class="bk-scope bk-theme-mini margin-top-15 ">
            <dl class="bk-group">
              <dt class="bk-group-title"><span>设备文档</span></dt>
              <dd class="bk-group-detail">
                <div class="row">
                  <div class="col-md-12  margin-bottom-20">

                    <div slim-scroll offseth="210" class="box">
                      <table class="table table-hover dataTable">
                        <thead>
                        <tr role="row">
                          <th>文档名称</th>
                          <th>文档描述</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="model['docData'].length > 0 " ng-repeat="doc in model['docData']">
                          <td>{{doc.name}}</td>
                          <td>{{doc.description}}</td>

                        </tr>
                        <tr ng-if="model['docData'].length <= 0 ">
                          <td valign="top" colspan="3" class="dataTables_empty"><i class="fa fa-success text-danger"></i>没有符合条件的记录</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>