<!-- Content Header (Page header) -->
<section class="content-header" ng-include="'../partials/index_content_header.html'"></section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- Application buttons -->
      <div class="box">
        <div class="box-header">
          <ol class="breadcrumb breadcrumb2">
            <li ng-show="searchExt">查询结果</li>
            <li role="button" ng-repeat="item in routePaths" ng-hide="searchExt">
              <i class="glyphicon glyphicon-arrow-up" role="button" ng-click="gotoParentPath(selectedParentitem)" ng-show="selectedParentitem && $index == 0 && routePaths.length > 2"></i>
              <div class="btn-group" ng-show="$index !=  0 && $index !=  routePaths.length-1">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="glyphicon glyphicon-menu-right"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li ng-click="gotoBrotherPath(subitem)" ng-repeat="subitem in rootModelDic[item.parentModelId].nodes"><a ng-class="{true:'disabled'}[!subitem.nodes]">{{subitem.label}}</a></li>
                </ul>
              </div>
              <span ng-click="gotoPath(item)" ng-show="$index !=  routePaths.length-1">{{item.name}}</span>
              <i role="button" ng-click="showChildren(item)" ng-show="item.nodes && item.nodes.length > 0 && $index ==  routePaths.length-1" class="glyphicon glyphicon-menu-right"></i>
            </li>
            <!--<form class="form-inline pull-right" style="display: inline-block;">
              <div class="form-group form-group-sm">
                <label class="sr-only" for="exampleInputAmount">设备名称</label>
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="devName" id="exampleInputAmount" placeholder="请输入设备名称">
                </div>
              </div>
              <button ng-click="findByExternalDevIdAndLabel()" class="btn btn-primary btn-sm">查询</button>
            </form>-->
          </ol>
          
        </div>
        <div class="box-body slick-box-body">
          <div variablesidth="true" dots="false" arrows="true" slidesToScroll="3" autorender="false" ng-model="treeAry" slick>
            <a class="btn btn-app slick-a" ng-class="{true: 'btn btn-app slick-a active active-ps', false: 'btn btn-app slick-a'}[selectedDitem==item]" ng-click="click(item)" ng-dblclick="dbClick(item)" ng-repeat="item in treeAry  | filter:filterModelFn" on-finish-render-filters>
              <span ng-hide="searchExt" class="badge {{item.alertlv}}">{{item.count}}</span>
              <span class="badge2 triangle-topleft" ng-class="{true: 'triangle-topleft-active'}[selectedDitem.id==item.id]" ng-click="dbClick(item)" ng-show="item.nodes.length > 0 && !searchExt"></span>
              <span class="badge2 triangle-icon" ng-class="{true: 'triangle-icon-active'}[selectedDitem.id==item.id]" ng-click="dbClick(item)" ng-show="item.nodes.length > 0 && !searchExt"><i class="glyphicon" ng-class="{true:'glyphicon-plus',false:'glyphicon-exclamation-sign'}[item.id != 0]"></i></span>
              <i class="{{item.icon}}"></i>{{item.label}}
            </a>
          </div>
        </div>
        <div class="box-footer">
          <div class="nav-tabs-custom" ng-show="activeMainTab=='设备类型视图'">
            <ul class="nav nav-tabs pull-left">
              <li class="active" ng-class="{true:'active',false:''}[activeListTab == 'tab1']"><a name="tab1" href="#" data-toggle="tab"><i class="fa fa-list"></i><span class="hidden-xs"> 设备组列表</span></a></li>
            </ul>
            <div class="tab-content">
              <div class="box-body table-responsive" ng-show="activeListTab == 'tab1'">
                <table style="width:100%" class="table table-hover" cmdb-group-table></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->