<section class="content-header" ng-include="'../partials/index_content_header.html'"></section>
<!-- Main content -->
<section class="content">

  <!-- row -->
  <div class="row">
    <div class="col-md-12" history-timeline>
      <!-- The time line -->
      <!--
              <ul class="timeline">

                <li class="time-label">
                  <span class="bg-green">
                    2015年11月18日
                  </span>
                </li>

                <li>
                  <i class="fa fa-envelope bg-blue"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年11月18日 20:47:10</span>
                    <h3 class="timeline-header"><a href="#">普奥云</a> 欢迎使用普奥云</h3>
                    <div class="timeline-body">
                      设备被纳入普奥云系统
                    </div>
                    <div class="timeline-footer">
                      <a class="btn btn-primary btn-xs">Read more</a>
                      <a class="btn btn-danger btn-xs">删除</a>
                    </div>
                  </div>
                </li>

                <li>
                  <i class="fa fa-user bg-aqua"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年11月18日 20:47:15</span>
                    <h3 class="timeline-header no-border"><a href="#">系统管理员</a> 采集到设备信息</h3>
                  </div>
                </li>

                <li>
                  <i class="fa fa-comments bg-yellow"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年11月18日 20:47:25</span>
                    <h3 class="timeline-header"><a href="#">KPI</a> 第一次数据处理</h3>
                    <div class="timeline-body">
                      设备－运行状态指标被系统处理
                    </div>
                    <div class="timeline-footer">
                      <a class="btn btn-warning btn-flat btn-xs">查看指标</a>
                    </div>
                  </div>
                </li>

                <li class="time-label">
                  <span class="bg-red">
                    2015年11月19日
                  </span>
                </li>

                <li>
                  <i class="fa fa-user bg-aqua"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年11月19日 12:21:36</span>
                    <h3 class="timeline-header no-border"><a href="#">普奥云监控</a> 第一条告警</h3>
                    <div class="timeline-footer">
                      <a href="#" class="btn btn-xs bg-maroon">查看告警</a>
                    </div>
                  </div>
                </li>

                <li>
                  <i class="fa fa-camera bg-purple"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年11月19日 12:25:31</span>
                    <h3 class="timeline-header"><a href="#">运维人员</a> 告警设备情况</h3>
                    <div class="timeline-body">
                      <img src="images/timeline/alert.jpg" alt="..." class="margin">
                      
                      <img src="images/timeline/dev.jpg" alt="..." class="margin">
                      
                    </div>
                  </div>
                </li>

                <li>
                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年11月19日 16:35:11</span>
                    <h3 class="timeline-header"><a href="#">处理人员</a> 正常检修视频</h3>
                    <div class="timeline-body">
                      <div class="embed-responsive embed-responsive-16by9">
                      	<video ng-src="{{videoUrl}}" controls="controls">
						your browser does not support the video tag
						</video>
                      </div>
                    </div>
                    <div class="timeline-footer">
                      <a href="#" class="btn btn-xs bg-maroon">查看工单</a>
                    </div>
                  </div>
                </li>

                <li>
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
              </ul>
			  -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->