<!-- 我的任务-点检计划模板 -->
<div class="modal bootstrap-dialog type-primary fade size-normal in" style="display : block;">
  <div class="modal-dialog" style="width:1000px;">
    <div class="modal-content">
      <div class="modal-header bg-f2">
        <a role="button" ng-click="closeDialog();" class="close">×</a>
        <h4 class="modal-title info-box-number">点检任务</h4>
      </div>

      <div class="modal-body clearfix row ">
        <form role="form" class="form-horizontal" name="dirForm">
          <!-- 点检标准编号 -->
          <div class="form-group col-sm-4">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">点检标准编号：</span>
            </label>
            <div class="col-sm-7">
              <span style="line-height: 30px;">{{ModelShowData.variables.checkAreaId}}</span>
            </div>
          </div>
          <!-- 点检计划名称 -->
          <div class="form-group col-sm-4 ">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">点检计划名称: </span>
            </label>
            <div class="col-sm-7">
              <span style="line-height: 30px;">{{ModelShowData.variables.projectName}}</span>
            </div>
          </div>
          <!-- 点检区域 -->
          <div class="form-group col-sm-4">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">点检区域: </span>
            </label>
            <div class="col-sm-7">
              <span style="line-height: 30px;">{{ModelShowData.variables.checkAreaName}}</span>
            </div>
          </div>


          <!-- 周期单位 -->
          <div class="form-group col-sm-4">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">周期单位：</span>
            </label>
            <div class="col-sm-7">
              <span style="line-height: 30px;">{{ModelShowData.variables.periodicUnitName}}</span>
            </div>
          </div>
          <!-- 周期间隔 -->
          <div class="form-group col-sm-4 ">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">周期间隔: </span>
            </label>
            <div class="col-sm-7">
              <span style="line-height: 30px;">{{ModelShowData.variables.periodicInterval}}</span>
            </div>
          </div>
          <!-- 开始日期 -->
          <div class="form-group col-sm-4">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">开始日期: </span>
            </label>
            <div class="col-sm-7">
              <span style="line-height: 30px;">{{ModelShowData.variables.startDate}}</span>
            </div>
          </div>
          
          <!-- 开始时间 -->
          <div class="form-group col-sm-4 ">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">开始时间: </span>
            </label>
            <div class="col-sm-7">
              <span style="line-height: 30px;">{{ModelShowData.variables.startTime}}</span>
            </div>
          </div>
          <!-- 第一责任人 -->
          <div class="form-group col-sm-4">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h">
              <span class="ng-binding">第一责任人: </span>
            </label>
            <div class="col-sm-7">
              <span style="line-height: 30px;">{{ModelShowData.variables.createUserName}}</span>
            </div>
          </div>
        </form>
      </div>
      <!-- 表格 -->
      <div class="box-body col-sm-12  table-responsive margin-bottom-20 bg-write ">
        <div class="box-footer margin-bottom-10">
          <table width="100%" class="table table-hover" id="addCheckNumberTable" add-task-plan-table></table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="collForm.$invalid" ng-click="saveCheckPlan()" disabled="disabled">
          确定
        </button>
        <button class="btn btn-default" ng-click="closeDialog();">取消</button>
      </div>
    </div>
  </div>
</div>