<!--创建采集组模态框-->
<div class="modal bootstrap-dialog type-primary fade size-normal in" style="display : block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-f2">
        <a role="button" ng-click="closeDialog();" class="close">×</a>
        <h4 class="modal-title info-box-number">采集组信息</h4>
      </div>
      <div class="modal-body clearfix row ">
        <form role="form" class="form-horizontal" name="collForm">
          <div class="form-group">
            <label class="col-sm-2 dialog-control-label margin-left-20 no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">分组编码：</span>
            </label>
            <div class="col-sm-6 padding-left-5">
              <input type="text" ng-disabled="taskObj.deviceMode" autocomplete="off" ng-model="taskObj.taskCode" ng-change="clearError();" maxlength="32" class="form-control input-sm" name="taskCode" required="required" />
              <span ng-show="dirError.name == 'taskCode'" style="font-size: 12px;" class="help-block text-danger text-muted" ng-bind="dirError.txt" ng-cloak></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 dialog-control-label margin-left-20 no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">采集周期：</span>
            </label>
            <div class="col-sm-6 padding-left-5">
              <input type="text" ng-disabled="taskObj.displayMode" ng-model="taskObj.taskCycle" ng-pattern="/^[1-9][0-9]*$/" maxlength="6" class="form-control input-sm" name="taskCycle" required="required">
              <span ng-show="collForm.taskCycle.$error.pattern" style="font-size: 12px;" class="help-block text-danger text-muted" ng-cloak>请输入1~999999之间的整数</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 dialog-control-label margin-left-20 no-padding-right dialog-control-h">
              <span class="text-danger ng-binding">*</span> <span class="ng-binding">采集单位：</span>
            </label>
            <div  class="col-sm-6 padding-left-5">
              <select class="form-control input-sm" ng-disabled="taskObj.displayMode" required="required" ng-model="taskObj.cycleUnit" placeholder="请选择..." ng-options="value.valueCode as value.label for value in myDicts['KqiGranularityUnit']">
                <option value="">请选择</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 dialog-control-label margin-left-20 no-padding-right dialog-control-h">
              <span class="ng-binding">分组描述：</span>
            </label>
            <div class="col-sm-6 padding-left-5">
              <textarea ng-disabled="taskObj.deviceMode" ng-model="taskObj.description" maxlength="200" rows="3" class="form-control" name="Name"></textarea>
            </div>
          </div>
        </form>
        <div class="box-body table-responsive margin-bottom-20 padding-left-40 padding-right-20 bg-write">
          <div class="form-group pull-left" style="width: 210px;height: 220px;">
            <label>可用配置项</label>
            <select class="form-control domainClass select-mult" id="valueLeft"  ng-click="selectData.noOptional = ''"  ng-model="selectData.optional" style="height: 220px;" multiple="multiple" >
              <option ng-repeat="value in selectValueLeft" value="{{value.id}}" title="{{value.label}}">{{value.label}}</option>
            </select>
          </div>
          <div class="form-group pull-left" style="width: 90px;height: 220px;">
            <button class="btn btn-sm-dis btnR"  ng-class="{true: 'btn-primary',false: 'btn-default'}[selectData.optional.length > 0]" style="top: 60px;" ng-disabled="selectData.optional.length == 0 " ng-click="selectRight();selectData.optional = [];"><i
              class="glyphicon glyphicon-arrow-right"></i></button>
            <button class="btn btn-sm-dis btnL" style="top: 90px;" ng-class="{true: 'btn-primary',false: 'btn-default'}[selectData.noOptional.length > 0]"  ng-disabled="selectData.noOptional.length == 0"  ng-click="selectLeft();selectData.noOptional = [];"><i
              class="glyphicon glyphicon-arrow-left"></i></button>

            <button class="btn btn-sm-dis btnR" style="top: 130px;"  ng-class="{true: 'btn-primary',false: 'btn-default'}[selectData.noOptional.length > 0 ]"  ng-click="leftUp();" ng-disabled="selectData.noOptional.length == 0" ng-click="selectRight();"><i
              class="fa fa-arrow-up"></i></button>
            <button class="btn btn-sm-dis btnL" style="top: 160px;"  ng-class="{true: 'btn-primary',false: 'btn-default'}[selectData.noOptional.length > 0 ]"  ng-click="leftDown();" ng-disabled="selectData.noOptional.length == 0" ng-click="selectLeft()"><i
              class="fa fa-arrow-down"></i></button>
          </div>
          <div class="form-group pull-left " style="width: 210px;height: 220px;">
            <label><span class="text-danger ng-binding">*</span> 分组数据项</label>
            <select class="form-control domainClass select-mult"  id="valueRight" ng-click="selectData.optional = ''"   ng-model="selectData.noOptional" style="height: 220px;" multiple="multiple"   >
              <option ng-repeat=" sel in selectValueRight" value="{{sel.uid}}" title="{{sel.label}}">{{sel.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="collForm.$invalid || taskObj.displayMode|| selectValueRight.length <= 0" ng-click="saveCollection()" disabled="disabled">
          确定
        </button>
        <button class="btn btn-default" ng-click="closeDialog();">取消</button>
      </div>
    </div>
  </div>
</div>