<div class="modal bootstrap-dialog type-primary fade size-normal in" style="display : block; overflow: auto;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-f2">
        <a role="button" ng-click="dialog.button[1].fn();" class="close">×</a>
        <h4 class="modal-title info-box-number" ng-bind="dialog.title"></h4>
      </div>
      <div class="modal-body clearfix row ">
        <form role="form" class="form-horizontal enterpriseOperateForm row" name="enterpriseOperateForm">
          <div class="form-group">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h"><span class="text-danger ng-binding">*</span> <span class="ng-binding">统计周期：</span></label>
            <div class="col-sm-4 padding-left-5" ng-show="dialog.statisticsType=='YEAR'" ng-cloak>
              <select ng-model="ignoreList.year" placeholder="" ng-disabled="ifView" class="form-control input-sm" ng-options="value.id as value.text for value in dialog.select.statisticsYear" selectdata="dialog.select.statisticsYear" select2 required>
              </select>
            </div>
            <div class="col-sm-4 padding-left-5 select-sm" ng-hide="dialog.statisticsType=='YEAR'" ng-cloak>
              <select ng-model="ignoreList.year" placeholder="" ng-disabled="ifView" class="form-control input-sm select-sm" ng-options="value.id as value.text for value in dialog.select.statisticsYear" selectdata="dialog.select.statisticsYear" select2 required>
              </select>
              <select ng-model="ignoreList.month" ng-disabled="ifView" ng-if="dialog.statisticsType=='MONTH'" placeholder="" class="form-control input-sm select-sm" ng-options="value.id as value.text for value in dialog.select.statisticsMonth" selectdata="dialog.select.statisticsMonth" select2 required>
              </select>
              <select ng-model="ignoreList.quarter" ng-disabled="ifView" ng-if="dialog.statisticsType=='QUARTER'" placeholder="" class="form-control input-sm select-sm" ng-options="value.id as value.text for value in dialog.select.statisticsQuarter" selectdata="dialog.select.statisticsQuarter" select2 required>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h"><span class="text-danger ng-binding">*</span> <span class="ng-binding">产值（万元）：</span></label>
            <div class="col-sm-4 padding-left-5">
              <input type="number" class="form-control input-sm" ng-disabled="ifView" ng-model="dialog.input.enterpriseOperateInfo.productionValue" name="name" maxlength="32" autocomplete="off" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 dialog-control-label no-padding-right dialog-control-h"><span class="text-danger ng-binding">*</span> <span class="ng-binding">附加值（万元）：</span></label>
            <div class="col-sm-4 padding-left-5">
              <input type="number" class="form-control input-sm" ng-disabled="ifView" ng-model="dialog.input.enterpriseOperateInfo.additionalValue" name="name" maxlength="32" autocomplete="off" required>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-2 padding-left-5">
            <div slim-scroll height="300px">
              <div class="box-body table-responsive">
                <table width="100%" class="table table-hover text-center" border="1" style="border: 1px solid #eee;">
                  <thead>
                    <tr role="row">
                      <th>
                        产品名称
                      </th>
                      <th>
                        产品产量
                      </th>
                      <th>
                        单位
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" ng-repeat="product in productYields">
                      <td>{{product.productName}}</td>
                      <td>
                        <input type="number" ng-disabled="ifView" class="form-control input-sm" ng-model="product.yield" name="name" maxlength="32" autocomplete="off" required>
                      </td>
                      <td>{{product.yieldUnit}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-hide="ifView" ng-click="dialog.button[0].fn();" ng-disabled="enterpriseOperateForm.$invalid" disabled="disabled">确定</button>
        <button class="btn btn-default" ng-hide="ifView" ng-click="dialog.button[1].fn();">取消</button>
      </div>
    </div>
  </div>
</div>
