<div class="rappid">
  <div id="paper-container1" class="paper-container paper-container-full" style="left:0;right: 0; "></div>
  <!--<div  id="inspector-container1"  class="inspector-container"></div>-->
  <div class="toolbar-container toolbar-container-full">
    <ol class="breadcrumb">
      <li ng-if="menuitems['S19']">
        <a href="../app-oc/index.html#/configureview">流程设计管理</a>
      </li>
      <li >{{selectedTask.ticketTitle}}</li>
    </ol>
    <!--<div style="float: right;margin-top: -56px;">-->
      <!--<button id="btn-confirm" ng-disabled="selectedTask.taskStatus == 200 || selectedTask.taskStatus == 100"  ng-click="selectedTask.taskStatus == 200 || selectedTask.taskStatus == 100 || components.commander.save(100)" class="btn btn-default" title="确认" >-->
        <!--<i class="fa fa-check"></i>确认-->
      <!--</button>-->
      <!--<button id="btn-finish" class="btn btn-default" ng-disabled="selectedTask.taskStatus == 200" ng-click="detail.taskStatus == 200 || components.commander.save(200)" title="完成" >-->
        <!--<i class="fa fa-circle-o"></i>完成-->
      <!--</button>-->
    <!--</div>-->
  </div>

</div>