<div class="bridge-row">
  <div class="warning-list" ng-model="warninglist">
    <div class="backBtn" ng-click="backBtnClick()"></div>
    <div class="warning-title">监控指标分析</div>
    <div class="warning-wrap">
      <div class="warning-column" style="width:66.6%;">
        <div class="wrap">
          <div class="column-top">
            <span class="title">指标名称</span>
            <span class="pull-right text" style="color: #b7d16a">map2</span>
            <span class="icon pull-right" style="background-color: #b7d16a"></span>
            <span class="pull-right text" style="color: #ee8e00">map1</span>
            <span class="icon pull-right" style="background-color: #ee8e00"></span>
          </div>
          <div class="svgWrap" style="height : 407px; padding:0; width : calc(100% - 1px);">
            <div echart ng-model="mapChart"></div>
          </div>
        </div>
      </div>
      <div class="warning-column">
        <div class="wrap">
          <div class="column-top">
            <span class="title">指标名称</span>
            <span class="pull-right text" style="color: #b7d16a">map2</span>
            <span class="icon pull-right" style="background-color: #b7d16a"></span>
            <span class="pull-right text" style="color: #ee8e00">map1</span>
            <span class="icon pull-right" style="background-color: #ee8e00"></span>
          </div>
          <div class="svgWrap">
            <div div-bar style="z-index : 99; position : relative;"></div>
          </div>
        </div>
        <div class="wrap">
          <div class="column-top">
            <span class="title">指标名称</span>
            <span class="pull-right text" style="color: #b7d16a">map2</span>
            <span class="icon pull-right" style="background-color: #b7d16a"></span>
            <span class="pull-right text" style="color: #ee8e00">map1</span>
            <span class="icon pull-right" style="background-color: #ee8e00"></span>
          </div>
          <div class="svgWrap">
            <svg svg-chart ng-model="bridgeChartUp2"></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bridge-charts">
  <div class="column" style="width:25%">
    <div class="wrap">
      <div class="column-top">
        <span class="title">指标名称</span>
        <span class="pull-right text" ng-style="{color:bridgeChart1.series[0].group[1].borderColor[0]}">map2</span>
        <span class="icon pull-right" ng-style="{'background-color':bridgeChart1.series[0].group[1].borderColor[0]}"></span>
        <span class="pull-right text" ng-style="{color:bridgeChart1.series[0].group[0].borderColor[0]}">map1</span>
        <span class="icon pull-right" ng-style="{'background-color':bridgeChart1.series[0].group[0].borderColor[0]}"></span>
      </div>
      <div class="svgWrap">
        <svg svg-chart ng-model="bridgeChart1"></svg>
      </div>
    </div>
  </div>
  <div class="column" style="width:15%">
    <div class="wrap">
      <div class="column-top">
        <span class="title">指标名称</span>
        <span class="pull-right text" ng-style="{color:bridgeChart2.series[0].group[0].borderColor[0]}">map1</span>
        <span class="icon pull-right" ng-style="{'background-color':bridgeChart2.series[0].group[0].borderColor[0]}"></span>
      </div>
      <div class="svgWrap">
        <div class="numTxt">36.04</div>
        <div style="height : 125px; width : 100%; position : relative;">
          <svg svg-chart ng-model="bridgeChart2"></svg>
        </div>
      </div>
    </div>
  </div>
  <div class="column" style="width:20%">
    <div class="wrap">
      <div class="column-top">
        <span class="title">指标名称</span>
        <span class="pull-right text" ng-style="{color:bridgeChart3.series[0].group[1].borderColor[0]}">map2</span>
        <span class="icon pull-right" ng-style="{'background-color':bridgeChart3.series[0].group[1].borderColor[0]}"></span>
        <span class="pull-right text" ng-style="{color:bridgeChart3.series[0].group[0].borderColor[0]}">map1</span>
        <span class="icon pull-right" ng-style="{'background-color':bridgeChart3.series[0].group[0].borderColor[0]}"></span>
      </div>
      <div class="svgWrap">
        <svg svg-chart ng-model="bridgeChart3"></svg>
      </div>
    </div>
  </div>
  <div class="column" style="width:20%">
    <div class="wrap">
      <div class="column-top">
        <span class="title">指标名称</span>
        <span class="pull-right text" ng-style="{color:bridgeChart4.series[0].group[1].borderColor[0]}">map2</span>
        <span class="icon pull-right" ng-style="{'background-color':bridgeChart4.series[0].group[1].borderColor[0]}"></span>
        <span class="pull-right text" ng-style="{color:bridgeChart4.series[0].group[0].borderColor[0]}">map1</span>
        <span class="icon pull-right" ng-style="{'background-color':bridgeChart4.series[0].group[0].borderColor[0]}"></span>
      </div>
      <div class="svgWrap">
        <svg svg-chart ng-model="bridgeChart4"></svg>
      </div>
    </div>
  </div>
  <div class="column" style="width:20%">
    <div class="wrap">
      <div class="column-top">
        <span class="title">指标名称</span>
        <span class="pull-right text" ng-style="{color:bridgeChart5.series[0].group[1].borderColor[0]}">map2</span>
        <span class="icon pull-right" ng-style="{'background-color':bridgeChart5.series[0].group[1].borderColor[0]}"></span>
        <span class="pull-right text" ng-style="{color:bridgeChart5.series[0].group[0].borderColor[0]}">map1</span>
        <span class="icon pull-right" ng-style="{'background-color':bridgeChart5.series[0].group[0].borderColor[0]}"></span>
      </div>
      <div class="svgWrap">
        <svg svg-chart ng-model="bridgeChart5"></svg>
      </div>
    </div>
  </div>
</div>