<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="box-tools pull-left nav-tabs-header">
            <ul class="nav nav-tabs" id="deploy">
              <li ng-class="{'active' : tab == 'tab1'}" name="tab1"><a role="button" data-toggle="tab">能源消耗区域态势</a></li>
              <li ng-class="{ 'active' : tab == 'tab2'}" name="tab2"><a role="button" data-toggle="tab">能耗地图分布</a></li>
            </ul>
          </div>
          <div class="box-tools pull-right">
            <span class="history-btn" role="button" ng-show="menuitems['#'+treeviewIndex] == null" data-toggle="返回" title="" data-original-title="返回" onclick="window.history.back();"><i class="proudsmart ps-back-01"></i></span>
          </div>
        </div>
        <div ng-show="tab == 'tab1'" class="box-footer no-pad-top no-border">
          <div class="box-body no-padding-left no-pad-bottom">
            <form role="form">
              <div class="form-group col-sm-3">
                <label class="control-label">选择时间：</label>
                <div>
                  <select class="form-control" style="display: inline;width: 45%;" ng-model="queryDitem.year" ng-options="x.id as x.text for x in yearList">
                  </select>
                  <select class="form-control" style="display: inline;width: 45%;" ng-disabled="!queryDitem.year" ng-model="queryDitem.month" ng-options="x.id as x.text for x in monthList">
                  </select>
                </div>
              </div>
              <div class="form-group col-sm-2">
                <label class="col-sm-12 control-label font-white">操作：</label>
                <div class="btn-group">
                  <button ng-click="goSearch(queryDitem)" type="button" class="btn btn-primary btn-sm"><i class="fa fa-search"></i><span class="hidden-sm">查询</span></button>
                  <button ng-click="goClear()" type="button" class="btn btn-default btn-sm"><i class="fa fa-close"></i><span class="hidden-sm">清除</span></button>
                </div>
              </div>
            </form>
          </div>
          <div class="box-footer no-padding">
            <div class="box box-solid" style="margin-bottom:1px">
              <div class="box-header">
                <h3 class="box-title">区域态势</h3>
                <div class="box-tools pull-right">
                  <button id="viewcollapse" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="col-sm-6">
                  <!-- <div style="height: 300px;" echarts3-dom></div> -->
                  <div id="areaEnergyview" style="height: 500px; width: 1000px; margin-left:30px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="tab == 'tab2'" class="box-footer no-pad-top no-border">
          <div class="box-body no-padding-left no-pad-bottom">
            <form role="form">
              <div class="form-group col-sm-3">
                <label class="control-label">选择时间：</label>
                <div>
                  <select class="form-control" style="display: inline;width: 45%;" ng-model="queryDitem1.year" ng-options="x.id as x.text for x in yearList">
                  </select>
                  <select class="form-control" style="display: inline;width: 45%;" ng-disabled="!queryDitem1.year" ng-model="queryDitem1.month" ng-options="x.id as x.text for x in monthList">
                  </select>
                </div>
              </div>
              <div class="form-group col-sm-2">
                <label class="col-sm-12 control-label font-white">操作：</label>
                <div class="btn-group">
                  <button ng-click="goSearch(queryDitem1)" type="button" class="btn btn-primary btn-sm"><i class="fa fa-search"></i><span class="hidden-sm">查询</span></button>
                  <button ng-click="goClear()" type="button" class="btn btn-default btn-sm"><i class="fa fa-close"></i><span class="hidden-sm">清除</span></button>
                </div>
              </div>
            </form>
          </div>
          <div class="box-footer no-padding">
            <div class="box box-solid" style="margin-bottom:1px">
              <div class="box-header">
                <h3 class="box-title">能耗地图分布</h3>
                <div class="box-tools pull-right">
                  <button id="viewcollapse" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="col-sm-6">
                  <!-- <div style="height: 300px;" echarts3-dom></div> -->
                  <div id="areamap" style="height: 500px; width: 1000px; margin-left:30px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
