<!-- Content Header (Page header) -->
<section class="content-header" ng-include="'../partials/index_content_header.html'"></section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Application buttons -->
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb breadcrumb2">
                        <li role="button" ng-repeat="item in routePaths">
                            <i class="glyphicon glyphicon-arrow-up" role="button" ng-click="gotoParentPath(selectedParentitem)" ng-show="selectedParentitem && $index == 0"></i>
                            <div class="btn-group" ng-show="$index !=  0 && $index !=  routePaths.length-1">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-click="gotoBrotherPath(subitem)" ng-repeat="subitem in domainListDic[item.parentID].nodes"><a ng-class="{true:'disabled'}[!subitem.nodes]">{{subitem.label}}</a></li>
                                </ul>
                            </div>
                            <span ng-click="gotoPath(item)" ng-show="$index !=  routePaths.length-1">{{item.name}}</span>
                            <i role="button" ng-click="showChildren(item)" ng-show="item.nodes && item.nodes.length > 0 && $index ==  routePaths.length-1" class="glyphicon glyphicon-menu-right"></i>
                        </li>
                    </ol>
                </div>

                <div class="box-body slick-box-body">
                    <div variablesidth="true" dots="false" arrows="true" slidesToScroll="3" autorender="false" ng-model="domainsAry" slick>
                        <a class="btn btn-app slick-a" ng-class="{true: 'btn btn-app slick-a active active-ps', false: 'btn btn-app slick-a'}[selectedDomainitem==item]"
                           ng-click="click(item)" ng-dblclick="dbClick(item)" ng-repeat="item in domainsAry" on-finish-render-filters>
                            <span class="badge {{item.alertlv}}">{{item.count}}</span>
                            <span class="badge2 triangle-topleft" ng-class="{true: 'triangle-topleft-active'}[selectedDomainitem.domainID==item.domainID]" ng-click="dbClick(item)" ng-show="item.nodes.length > 0 || item.domainID == 0"></span>
                            <span class="badge2 triangle-icon" ng-class="{true: 'triangle-icon-active'}[selectedDomainitem.domainID==item.domainID]" ng-click="dbClick(item)" ng-show="item.nodes.length > 0 || item.domainID == 0"><i class="glyphicon" ng-class="{true:'glyphicon-plus',false:'glyphicon-exclamation-sign'}[item.domainID != 0]"></i></span>
                            <i class="{{item.icon}}"></i> {{item.name}}
                        </a>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="nav-tabs-custom" ng-show="activeMainTab=='资源域视图'">
                        <!--<ul class="nav nav-tabs pull-left">-->
                            <!--<li class="active" ng-class="{true:'active',false:''}[activeListTab == 'tab3']"><a name="tab3" href="#" data-toggle="tab"><i class="fa fa-list"></i><span class="hidden-xs"> 设备列表</span></a></li>-->
                            <!--<li ng-class="{true:'active',false:''}[activeListTab == 'tab4']"><a name="tab4" href="#" data-toggle="tab"><i class="fa fa-user"></i><span class="hidden-xs"> 域用户</span></a></li>-->
                        <!--</ul>-->
                        <div class="tab-content">
                            <div class="box-body no-padding table-responsive" ng-show="activeListTab == 'tab3'">
                                <table width="100%" class="table table-hover" domain-cmdb-table>
                                </table>
                            </div>
                            <div class="box-body no-padding table-responsive" ng-show="activeListTab == 'tab4'">
                                <table width="100%" class="table table-hover" domain-user-table>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->