<!-- Content Header (Page header) -->
<section class="content-header" ng-include="'../partials/index_content_header.html'"></section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- Application buttons -->
      <div class="box">

        <div class="box-footer">
          <div class="nav-tabs-custom">
            <div class="tab-content">
              <!-- Morris chart - Sales -->
              <form id="user-form" class="form-horizontal tab-pane active" role="form">
                <div class="table-responsive">
                  <table width="100%" class="table table-hover" id="usertable"  maintain-table>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->