<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="box-tools pull-left nav-tabs-header">
            <ul class="nav nav-tabs" id="deploy">
              <li ng-class="{'active' : tab == 'tab1'}" name="tab1"><a role="button" data-toggle="tab">企业间设备潜力点分析</a></li>
              <li ng-class="{ 'active' : tab == 'tab3'}" name="tab3"><a role="button" data-toggle="tab">企业内设备潜力点分析</a></li>
            </ul>
          </div>
          <div class="box-tools pull-right">
            <span class="history-btn" ng-show="menuitems['#'+treeviewIndex] == null" data-toggle="返回" title="" data-original-title="返回" onclick="window.history.back();" role="button"><i
              class="proudsmart ps-back-01"></i></span>
          </div>
        </div>
        <div ng-show="tab == 'tab1'" class="box-footer no-pad-top no-border">
          <div class="box-body no-padding-left no-pad-bottom">
            <form role="form">
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">选择行业：</label>
                <select class="form-control" style="width:100%" ng-model="queryDitem.industryType" ng-options="x.id as x.text for x in industryList" selectdata="industryList" select2>
                </select>
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">选择企业：</label>
                <select class="form-control" ng-model="queryDitem.enterpriseIds" multiple="multiple" buttonclass="btn btn-default multiselect-btn" ng-change="filterModel(queryDitem.enterpriseIds)" bootstrap-multiselect numberdisplayed="2" buttonWidth="160px" ng-options="op.id as op.text for op in allEnterprises | filter:{ industryType :  queryDitem.industryType}">
                </select>
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">选择设备：</label>
                <select class="form-control" style="width:100%" ng-model="queryDitem.modelId" ng-options="x.id as x.text for x in flterDeviceList" selectdata="flterDeviceList" select2>
                </select>
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">开始时间：</label>
                <input type="text" class="form-control input-sm" style="background-color: #fff;" readonly='readonly' autocomplete="off" ng-model="queryDitem.startTime" drops="down" date-time-picker>
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">结束时间：</label>
                <input type="text" class="form-control input-sm" style="background-color: #fff;" readonly='readonly' autocomplete="off" ng-model="queryDitem.endTime" drops="down" date-time-picker>
              </div>
              <div class="form-group col-sm-2 height-50">
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">选择取值类型：</label>
                <select class="form-control" style="width:100%" ng-model="queryDitem.markValue" ng-options="x.id as x.text for x in [{id:'avg',text:'平均值'},{id:'max',text:'最大值'},{id:'min',text:'最小值'}]">
                </select>
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="col-sm-12 control-label font-white">操作：</label>
                <div class="btn-group">
                  <button ng-click="goSearch(queryDitem)" type="button" class="btn btn-primary btn-sm"><i class="fa fa-search"></i><span class="hidden-sm">查询</span></button>
                  <button ng-click="goClear()" type="button" class="btn btn-default btn-sm"><i class="fa fa-close"></i><span class="hidden-sm">清除</span></button>
                </div>
              </div>
            </form>
          </div>
          <div class="box-footer no-padding">
            <div class="box box-solid" style="margin-bottom:1px">
              <div class="box-header">
                <h3 class="box-title">图表分析</h3>
                <div class="box-tools pull-right">
                  <button id="viewcollapse1" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body" ng-show="showTable1">
                <div id="potentialdataview" style="height: 450px; width: 1000px; margin-left:30px;"></div>
              </div>
            </div>
            <div class="box box-solid" style="margin-bottom:1px">
              <div class="box-header">
                <h3 class="box-title">表格分析</h3>
                <div class="box-tools pull-right">
                  <button id="viewcollapse2" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body" ng-show="showTable1">
                <table width="100%" class="table table-hover" potential-data-table>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="tab == 'tab3'" class="box-footer no-pad-top no-border">
          <div class="box-body no-padding-left no-pad-bottom">
            <form role="form">
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">选择行业：</label>
                <select class="form-control" style="width:100%" ng-model="queryDitem1.industryType" ng-options="x.id as x.text for x in industryList" selectdata="industryList" select2>
                </select>
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">选择企业：</label>
                <select class="form-control" style="width:100%" ng-model="queryDitem1.enterpriseId" ng-options="op.id as op.text for op in allEnterprises| filter:{ industryType :  queryDitem1.industryType}" ng-change="filterModel(queryDitem1.enterpriseId)" selectdata="allEnterprises" select2>
                </select>
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">选择设备：</label>
                <select class="form-control" ng-model="queryDitem1.modelId" ng-options="op.id as op.text for op in flterDeviceList">
                </select>
              </div>
              <!-- <div class="form-group col-sm-2 height-50">
                <label class="control-label">选择设备：</label>
                <select class="form-control" ng-model="queryDitem1.modelIds" multiple="multiple" buttonclass="btn btn-default multiselect-btn" bootstrap-multiselect numberdisplayed="2" buttonWidth="160px" ng-options="op.id as op.text for op in flterDeviceList">
                </select>
              </div> -->
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">开始时间：</label>
                <input type="text" class="form-control input-sm" style="background-color: #fff;" readonly='readonly' autocomplete="off" ng-model="queryDitem1.startTime" drops="down" date-time-picker>
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">结束时间：</label>
                <input type="text" class="form-control input-sm" style="background-color: #fff;" readonly='readonly' autocomplete="off" ng-model="queryDitem1.endTime" drops="down" date-time-picker>
              </div>
              <div class="form-group col-sm-2 height-50">
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="control-label">选择取值类型：</label>
                <select class="form-control" style="width:100%" ng-model="queryDitem1.markValue" ng-options="x.id as x.text for x in [{id:'avg',text:'平均值'},{id:'max',text:'最大值'},{id:'min',text:'最小值'}]">
                </select>
              </div>
              <div class="form-group col-sm-2 height-50">
                <label class="col-sm-12 control-label font-white">操作：</label>
                <div class="btn-group">
                  <button ng-click="goSearch(queryDitem1)" type="button" class="btn btn-primary btn-sm"><i class="fa fa-search"></i><span class="hidden-sm">查询</span></button>
                  <button ng-click="goClear()" type="button" class="btn btn-default btn-sm"><i class="fa fa-close"></i><span class="hidden-sm">清除</span></button>
                </div>
              </div>
            </form>
          </div>
          <div class="box-footer no-padding">
            <div class="box box-solid" style="margin-bottom:1px">
              <div class="box-header">
                <h3 class="box-title">图表分析</h3>
                <div class="box-tools pull-right">
                  <button id="devicecollapse1" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body" ng-show="showTable2">
                <div id="potentialDeviceview" style="height: 450px; width: 1000px; margin-left:30px;"></div>
              </div>
            </div>
            <div class="box box-solid" style="margin-bottom:1px">
              <div class="box-header">
                <h3 class="box-title">表格分析</h3>
                <div class="box-tools pull-right">
                  <button id="devicecollapse2" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body" ng-show="showTable2">
                <table width="100%" class="table table-hover" potential-device-table>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
