
<div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header bg-f2">
      <a role="button" ng-click="closeDialog();" class="close" >×</a>
      <h4 class="modal-title info-box-number">域分配</h4>
    </div>
    <div class="modal-body clearfix row ">
      <div class="col-sm-12 clearfix">
        <div domaintree-checkable></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" >确定</button>
      <button class="btn btn-default" ng-click="closeDialog();" >取消</button>
    </div>
  </div>
</div>