<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="box-tools pull-left nav-tabs-header">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a>{{menuitems['S12'].name}}</a></li>
            </ul>
          </div>
          <div class="box-tools pull-right">
            <span class="history-btn" role="button" ng-show="menuitems['#'+treeviewIndex] == null" data-toggle="返回" title="" data-original-title="返回" onclick="window.history.back();"><i class="proudsmart ps-back-01"></i></span>
          </div>
        </div>
        <div class="box-body">
          <button ng-show="menuitems['A02_S12']" ng-click="addUser()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i><span class="hidden-sm"> 添加{{menuitems['S12'].label?menuitems['S12'].label:'客户'}}</span></button>
          <div class="combined-query pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                {{queryLabel?queryLabel:'查询条件'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a role="button" ng-click="queryState=1;queryLabel=(menuitems['S12'].label?menuitems['S12'].label:'客户')+'归属';getChange()">{{menuitems['S12'].label?menuitems['S12'].label:'客户'}}归属</a></li>
                <li><a role="button" ng-click="queryState=2;queryLabel=(menuitems['S12'].label?menuitems['S12'].label:'客户')+'名称';getChange()">{{menuitems['S12'].label?menuitems['S12'].label:'客户'}}名称</a></li>
                <li><a role="button" ng-click="queryState=3;queryLabel=(menuitems['S12'].label?menuitems['S12'].label:'客户')+'地址';getChange()">{{menuitems['S12'].label?menuitems['S12'].label:'客户'}}地址</a></li>
                <li><a role="button" ng-click="queryState=4;queryLabel='联系电话';getChange()">联系电话</a></li>
              </ul>
            </div>
            <input type="text" class="form-control input-sm" maxlength="32" ng-show="!queryState" ng-model="selectedItem.orCondition">
            <div class="dropdowntree" ng-show="queryState == 1" ng-model="selectedItem.domainPath" change="" key="domainPath" options="domainListTree" mark="nodes">
            </div>
            <input type="text" class="form-control input-sm" maxlength="32" ng-show="queryState == 2" ng-model="selectedItem.customerName">
            <input class="form-control input-sm" ng-show="queryState == 3" maxlength="32" type="text" ng-model="selectedItem.customerAddress" type="text" />
            <input class="form-control input-sm" ng-show="queryState == 4" maxlength="32" type="text" ng-model="selectedItem.customerPhone" type="text" />
            <button class="btn btn-primary btn-sm" ng-click="searchData()" type="button"><i class="fa fa-search"></i><span class="hidden-sm">查询</span></button>
          </div>
        </div>
        <div class="box-footer  margin-bottom-10">
          <table width="100%" class="table table-hover" id="usertable" client-table>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
