<!-- Content Header (Page header) -->
<section class="content-header" ng-include="'../partials/index_content_header.html'"></section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <!-- <ul class="nav nav-tabs pull-left">
              <li class="active"><a href="#user-form" id="user" name="user" data-toggle="tab">供应商管理</a></li>
            </ul> -->
            <div class="tab-content">
              <!-- Morris chart - Sales -->
              <form id="user-form" class="form-horizontal tab-pane active" role="form">
                <table width="100%" class="table table-hover" id="usertable"  supplier-table>
                </table>
              </form>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
      </div>

    </div>
    <!-- /.row -->
</section>