
<div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header bg-f2 ">
      <a role="button" ng-click="closeDialog();" class="close" >×</a>
      <h4 class="modal-title info-box-number">用户分配角色</h4>
    </div>
    <div class="modal-body clearfix row ">
      <div class="col-sm-12 clearfix">
            <div class=" col-sm-12 pull-left no-padding-lr">
              <div class="btn-group margin-right-5 col-sm-4 no-padding-lr">
                <button type="button" class="btn btn-default col-sm-12 margin-left-10 btn-sm dropdown-toggle" data-toggle="dropdown">
                  查询条件 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu col-sm-12 margin-left-10 " role="menu">
                  <li ><a role="button" class="align-center" ng-click="queryDitem.state=1">用户名称</a></li>
                  <li><a role="button" class="align-center" ng-click="queryDitem.state=2">登录账户</a></li>
                </ul>
              </div>
              <input class="form-control input-sm margin-left-10 dialog-inp-w"
                     ng-show="!queryDitem.state || queryDitem.state == 1 || queryDitem.state == 2 "
                     maxlength="40" type="text" ng-model="queryDitem.sn" placeholder="请输入..."/>
              <button class="btn btn-primary btn-sm" style="margin-top: -4px;" ng-click="goSearch()" type="button"><i class="fa fa-search"></i><span
                class="hidden-sm"> 查询</span></button>
            </div>
          <table width="100%" id="userRole" class="table table-hover" user-role-table></table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" >确定</button>
      <button class="btn btn-default" ng-click="closeDialog();" >取消</button>
    </div>
  </div>
</div>