<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools pull-left nav-tabs-header">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a>接入认证</a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-tools pull-right">
                        <span class="history-btn" role="button" ng-show="menuitems['#'+treeviewIndex] == null" data-toggle="返回" title="" data-original-title="返回" onclick="window.history.back();"><i class="proudsmart ps-back-01"></i></span>
                    </div>
                </div>
                <div class="box-body">
                    <button type="button" ng-click="addProve();" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i><span class="hidden-sm"> 添加认证</span></button>
                    <div class="combined-query pull-right">
                        <button type="button" ng-show="statusMsg == 0"  ng-click="deleteMsg(2);" class="btn btn-primary btn-sm"><i class="proudsmart ps-focus "></i><span class="hidden-sm"> 标记已读</span></button>

                        <div class="combined-query  pull-right">
                            筛选: <input class="form-control input-sm" ng-model="tableSearchValue" ng-change="publicTableSearch('approve-table',tableSearchValue)"/>
                        </div>
                    </div>
                </div>
                <div class="box-footer no-pad-top no-border">
                    <table width="100%" class="table table-hover" id="powertable" name="approve-table" approve-table></table>
                </div>
            </div>
        </div>
    </div>
</section>