<!-- Content Header (Page header) -->
<section class="content-header" ng-include="'../partials/index_content_header.html'"></section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">

        <div class="box-footer" style="padding: 30px;">

          <span class="ulol-style"  ng-model="detailMessage.content" ng-bind-html="TrustAsHtml(detailMessage.content)"></span>
        </div>
      </div>
    </div>
    </div>
</section>