<div class="rappid">
  selectedValueConfig = {{selectedValueConfig}}
  <!-- dirty == {{$parent.dirty}} -->
  <div class="toolbar-container">
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" data-tooltip="保存" data-tooltip-position="top" ng-click="components.myCommander.save4Json()">
        <i class="fa fa-save fa-lg"></i>
      </button>
      <button class="btn btn-default" ng-disabled="$parent.selectedView.viewId == 0" data-tooltip="预览" data-tooltip-position="top" ng-click="components.commander.preview()">
        <i class="fa fa-eye fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="清除" data-tooltip-position="top" ng-click="components.graph.clear()">
        <i class="fa fa-recycle fa-lg"></i>
      </button>
      <!--<button class="btn btn-default" ng-click="components.paper.print()" data-tooltip="打印"><i class="fa fa-print fa-lg"></i></button>-->
      <button class="btn btn-default" ng-click="components.commander.toJSON()" data-tooltip="打开JSON文件" data-tooltip-position="top"><i class="fa fa-download fa-lg"></i></button>
      <button class="btn btn-default" ng-click="components.commander.loadJSON()" data-tooltip="加载JSON文件" data-tooltip-position="top"><i class="fa fa-upload fa-lg"></i></button>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" data-tooltip="撤销" data-tooltip-position="top" ng-click="components.commander.undo()">
        <i class="fa fa-rotate-left fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="重做" data-tooltip-position="top" ng-click="components.commander.redo()">
        <i class="fa fa-rotate-right fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="放大" data-tooltip-position="top" ng-click="components.scroller.zoom(.2, { max: 2 })">
        <i class="fa fa-search-plus fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="缩小" data-tooltip-position="top" ng-click="components.scroller.zoom(-.2, { min: .2 })">
        <i class="fa fa-search-minus fa-lg"></i>
      </button>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" data-tooltip="组合" data-tooltip-position="top" ng-click="components.commander.embed()">
        <i class="fa fa-link fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="解除" data-tooltip-position="top" ng-click="components.commander.unembed()">
        <i class="fa fa-unlink fa-lg"></i>
      </button>
    </div>
    <div class="btn-group btn-group-sm">
      <button id="btn-up" class="btn btn-default" data-tooltip="最上层" data-tooltip-position="top" ng-click="components.commander.toFront()">
        <i class="proudsmart ps-layer-up fa-lg"></i>
      </button>
      <button id="btn-down" class="btn btn-default" data-tooltip="最下层" data-tooltip-position="top" ng-click="components.commander.toBack()">
        <i class="proudsmart ps-layer-down fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="左对齐" data-tooltip-position="top" ng-click="components.commander.alignAction('left')">
        <i class="proudsmart ps-align-left"></i>
      </button>
      <button class="btn btn-default" data-tooltip="右对齐" data-tooltip-position="top" ng-click="components.commander.alignAction('right')">
        <i class="proudsmart ps-align-right"></i>
      </button>
      <button class="btn btn-default" data-tooltip="上对齐" data-tooltip-position="top" ng-click="components.commander.alignAction('up')">
        <i class="proudsmart ps-align-top"></i>
      </button>
      <button class="btn btn-default" data-tooltip="下对齐" data-tooltip-position="top" ng-click="components.commander.alignAction('down')">
        <i class="proudsmart ps-align-bottom"></i>
      </button>
      
      <button class="btn btn-default" data-tooltip="打开画线模式" data-tooltip-position="top" ng-show="!data.drawStatus" ng-click="data.drawStatus = true">
        <i class="fa fa-pencil fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="关闭画线模式" data-tooltip-position="top" ng-show="data.drawStatus" ng-click="data.drawStatus = false">
        <i class="fa fa-ban fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="关闭右侧栏" data-tooltip-position="top" ng-show="components.commander.configDispaly" ng-click="components.commander.configDispalySet(false)">
        <i class="fa fa-pause fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="打开右侧栏" data-tooltip-position="top" ng-hide="components.commander.configDispaly" ng-click="components.commander.configDispalySet(true)">
        <i class="fa fa-play fa-lg"></i>
      </button>
      <button class="btn btn-default" data-tooltip="翻转" data-tooltip-position="top" ng-click="components.commander.flip()">
        <i class="fa fa-arrows-h fa-lg"></i>
      </button>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" data-tooltip="返回" data-tooltip-position="top" ng-click="$parent.homeClick(2)">
        <i class="fa fa-arrow-circle-o-left fa-lg"></i> 
      </button>
      <button class="btn btn-default btn-sm pull-right" data-tooltip="视图设置" data-toggle="control-sidebar" ng-click="$parent.viewConfigClick()">
        <i class="fa fa-gears"></i>
      </button>
    </div>
  </div>
  <div class="stencil-container"></div>
  <div class="paper-container"></div>
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li ng-show="$parent.selectedView.inspector" ng-class="{'active':$parent.selectedView.inspector}">
        <a href="#control-sidebar-home-tab" data-toggle="tab" ><i class="fa fa-gears"> 视图基础信息设置</i></a>
      </li>
      <li ng-show="!$parent.selectedView.inspector" class="active">
        <a href="#control-sidebar-settings-data" data-toggle="tab">{{$parent.selectedItem.cell.attributes.type !='link'?'数据':'标签'}}</a>
      </li>
      <li ng-show="!$parent.selectedView.inspector">
        <a href="#control-sidebar-settings-text" data-toggle="tab">{{$parent.selectedItem.cell.attributes.type !='link'?'内容':'线条'}}</a>
      </li>
      <li ng-show="!$parent.selectedView.inspector">
        <a href="#control-sidebar-settings-presentation" data-toggle="tab">{{$parent.selectedItem.cell.attributes.type !='link'?'背景':'初始'}}</a>
      </li>
      <li ng-show="!$parent.selectedView.inspector">
        <a href="#control-sidebar-settings-geometry" data-toggle="tab">{{$parent.selectedItem.cell.attributes.type !='link'?'外观':'目的'}}</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" ng-show="$parent.selectedView.inspector" ng-class="{'active':$parent.selectedView.inspector}" id="control-sidebar-home-tab">
        <form role="form">
          <div class="form-group">
            <label >视图名称:</label>
            <input class="form-control input-sm" type="text" maxlength="32" ng-model="data.viewTitle" />
          </div>
          <div class="form-group">
            <label>视图宽度:</label>
            <input type="number" class="form-control input-sm"  maxlength="4" ng-model="components.paper.options.width" ng-change="components.myCommander.setDimensions()">
          </div>
          <div class="form-group">
            <label>视图高度:</label>
            <input type="number" class="form-control input-sm" maxlength="4" ng-model="components.paper.options.height" ng-change="components.myCommander.setDimensions()">
          </div>
          <div class="form-group">
            <label>视图背景图:</label>
            <select class="form-control input-sm" ng-model="data.bgimage" ng-change="components.myCommander.setGrid()" ng-options="value.url as value.label for value in data.bgimages">
              <option value="">请选择背景图...</option>
            </select>
          </div>
          <div class="form-group">
            <label>视图背景色:</label>
            <div class="col-sm-10 no-padding-lr form-group">
              <input type="text" class="form-control input-sm" ng-model="data.bgcolor" ng-change="components.myCommander.setGrid()">
            </div>
            <div class="col-sm-2 no-padding-lr">
              <input type="color" class="form-control input-sm color" ng-model="data.bgcolor" ng-change="components.myCommander.setGrid()">
            </div>
          </div>
          <div class="form-group">
            <label>视图背景网格:</label>
            <input type="number" class="form-control input-sm" min="1" max="20" ng-model="components.paper.options.gridSize" ng-change="components.myCommander.setGrid()">
          </div>
        </form>
      </div>
      <div class="tab-pane active" ng-hide="$parent.selectedView.inspector" id="control-sidebar-settings-data"></div>
      <div class="tab-pane" ng-hide="$parent.selectedView.inspector" id="control-sidebar-settings-text"></div>
      <div class="tab-pane" ng-hide="$parent.selectedView.inspector" id="control-sidebar-settings-presentation"></div>
      <div class="tab-pane" ng-hide="$parent.selectedView.inspector" id="control-sidebar-settings-geometry"></div>
      <!-- /.tab-pane -->
    </div>
  </aside>
</div>