<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!--<link rel="stylesheet" href="css/common.css">-->
    <!--<link rel="stylesheet" href="css/index.css">-->
    <link rel="stylesheet" href="css/global.css">

    <link rel="stylesheet" href="css/register.css">

    <!-- <link rel="stylesheet" href="css/marketplace-default.css"> -->
    <!--<link rel="stylesheet" href="css/main.css">-->
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="./css/login/login.css">-->
    <!-- Bootstrap 样式-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/admin-lte/AdminLTE.css">
    <link rel="stylesheet" href="css/login.css">
    <!-- Bootstrap dialog响应样式 -->
    <link href="../node_modules/bootstrap3-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet">
    <style type="text/css">
      @charset "UTF-8";
      [ng\:cloak],
      [ng-cloak],
      [data-ng-cloak],
      [x-ng-cloak],
      .ng-cloak,
      .x-ng-cloak,
      .ng-hide {
        display: none !important;
      }
      
      ng\:form {
        display: block;
      }
      
      .ng-animate-start {
        clip: rect(0, auto, auto, 0);
        -ms-zoom: 1.0001;
      }
      
      .ng-animate-active {
        clip: rect(-1px, auto, auto, 0);
        -ms-zoom: 1;
      }
      
      #header_wrapper {
        margin: 0 auto;
        border-bottom: 1px solid #454545;
        background-color: #226193;
        height: 60px;
      }
      
      .top_logo {
        margin: 15px 0;
        float: left;
        width: 50%;
      }
      
      .pos-r {
        position: relative !important;
      }
    </style>
  </head>

  <body style="background-color: #ffffff;" ng-controller="forgetCtrl">
    <div id="header">
      <div class="header-layout" style="padding-left: 20px;padding-right: 20px;">
        <!--<a class="logo"><img src="{{passwordConfig.logo}}"></a>-->
        <label class="logo-title" style="margin-left:0px;">找回密码</label>
        <div class="header-nav">
          <span style="margin-top: 18px;"><a style="color: #444;" href="../#/index">返回登录</a>&nbsp;
          <!--  &nbsp;|&nbsp;&nbsp;<a style="color: #444;" href="{{passwordConfig.url}}">公司首页</a>-->
          </span>
        </div>
      </div>
    </div>

    <div class="page" style="padding-top: 0%;">
      <div class="reg-main">
        <div class="steps">
          <span class="vader" id="barvader"></span>
          <ol>
            <li class="active"><em><i>1</i></em><span class="tsl" data-phase-id="r_p_createAccount">验证身份</span></li>
            <li><em><i>2</i></em><span class="tsl" data-phase-id="r_p_fillUserInfo">重置登录密码</span></li>
            <li><em><i class="iconfont">3</i></em><span class="tsl" data-phase-id="r_p_regSuc">完成</span></li>
          </ol>
        </div>
        <div class="content" style="background-color:#ffffff;min-height:0px;">
          <!--<form method="post" id="InfoForm">-->
          <form role="form" name="formname" id="form">
            <div id="one-step" ng-cloak ng-show="forgetClick == 1" class="box-body forget-body col-sm-9" >
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">手机号/邮箱</label>
                <div class="col-sm-6">
                  <input type="text" name="phone"  autocomplete="off" ng-class="{1:'error-boder',11:'error-boder',111:'error-boder',1003:'error-boder'}[emailOnly]" ng-model="forgetList.emailAddress" class="form-control" ng-change="modeCheck()" placeholder="请输入手机号/邮箱">
                  <div class="msg-cnt msg-type-error " style="margin-top: 5px;" ng-cloak ng-show="emailOnly == 1">手机号/邮箱不存在</div>
                  <div class="msg-cnt msg-type-error " style="margin-top: 5px;" ng-cloak ng-show="emailOnly == 11">手机号/邮箱不能为空</div>
                  <div class="msg-cnt msg-type-error " style="margin-top: 5px;" ng-cloak ng-show="emailOnly == 111">手机号/邮箱格式不正确</div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label ider-cs">校验码</label>
                <div class="col-sm-4 ider-cs-inp">
                  <input ng-model="forgetList.verify"  autocomplete="off" ng-class="{2:'error-boder',200:'error-boder'}[emailOnly]" ng-change="codeCheck()" class="form-control" maxlength="6" type="text" placeholder="请输入校验码">
                  <div class="msg-cnt msg-type-error" style="margin-top: 5px;" ng-cloak ng-show="emailOnly == 200">
                    校验码不能为空
                  </div>
                  <div class="msg-cnt msg-type-error " style="margin-top: 5px;" ng-cloak ng-show="emailOnly == 2">
                    校验码输入错误
                  </div>
                </div>
                <div style="padding: 0;" class="col-sm-5 ider-cs-img">
                  <image style="height: 36px;cursor: pointer;" ng-click="blindClick();" class="img-width" ng-src="data:image/png;base64,{{imgCode}}" />
                  <span style="cursor: pointer;color: #009fe9;" ng-show="imgCode && verifySuccess == 0" tt="{{verifySuccess}} "  ng-click="blindClick();">换一张 </span>
                  <label style="cursor: pointer;color: #00D368;" ng-show="verifySuccess == 1" >
                    <i class="fa fa-check-circle" ></i>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label ider-cs">身份验证</label>
                <div class="col-sm-4 ider-cs-inp">
                  <input type="text" ng-model="forgetList.verifyEmail"  autocomplete="off" class="form-control" id="inputEmail3" placeholder="请输入验证码" />
                  <div class="msg-cnt msg-type-error " style="margin-top: 5px;" ng-cloak ng-show="emailOnly == 3">
                    验证码输入错误
                  </div>
                  <div class="msg-cnt msg-type-error " ng-cloak style="margin-top: 5px;" ng-show="emailOnly == 30001">
                    验证码不能为空
                  </div>
                </div>
                <button type="button" class="btn btn-primary" style="background-color:#009FE9;border-color: #009FE9;color: #fff;" id="charge" name="charge" ng-click="emailSend();">获取验证码</button>

              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-6"><button ng-click="forgetStep(2);" class="btn btn-block btn-primary btn-lg" style="background-color: #009fe9;    margin-bottom: 30px;">下一步</button></div>
              </div>
              <!-- <div class="form-group">
                  <div  ng-click="forgetStep(2);"  class="login-btn">
                      <label style="margin-left: 30%;font-size: 18px;line-height: 35px;">下一步</label>
                  </div>
              </div> -->
            </div>
            <div id="one-step" ng-cloak ng-show="forgetClick == 2" class="box-body col-sm-9 forget-body" >
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">重置密码</label>
                <div class="col-sm-7">
                  <input class="form-control" name="newPwd" ng-class="{311:'error-boder',333:'error-boder'}[emailOnly]"  ng-pattern="/^(?![\d]+$)(?![a-zA-Z]+$)(?![_-]+$)[\da-zA-Z_-]{6,20}$/" ng-model="forgetList.newPwd" type="password" placeholder="重置密码" maxlength="60">
                  <div class="msg-cnt msg-type-error " ng-cloak style="margin-top: 5px;" ng-show="emailOnly == 311">新密码不能为空！</div>
                  <div class="msg-cnt msg-type-error " ng-cloak style="margin-top: 5px;" ng-show="formname.newPwd.$error.pattern">
                    6到20位 由数字、字母、_-2种以上组成
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">确认密码</label>
                <div class="col-sm-7">
                  <input class="form-control" name="confimPwd"  autocomplete="off" ng-class="{312:'error-boder',4:'error-boder'}[emailOnly]"  ng-pattern="/^(?![\d]+$)(?![a-zA-Z]+$)(?![_-]+$)[\da-zA-Z_-]{6,20}$/" ng-model="forgetList.confimPwd" type="password" placeholder="确认新密码" maxlength="60">
                  <div class="msg-cnt msg-type-error " style="margin-top: 5px;" ng-cloak ng-show="emailOnly == 312">确认密码不能为空！</div>
                  <div class="msg-cnt msg-type-error " style="margin-top: 5px;" err-id="{{emailOnly}}" ng-cloak ng-show="emailOnly == 4">
                    两次密码输入不一致！
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-7"><button ng-click="forgetAjax();" class="btn btn-block btn-primary btn-lg" style="background-color: #009fe9;    margin-bottom: 30px;">确定</button></div>
              </div>
              <!--  <div class="form-group">
                  <div   ng-click="forgetAjax();" class="login-btn">
                      <label style="margin-left: 30%;font-size: 18px;">确定</label>
                  </div>
              </div> -->
            </div>
            <div id="four-step" ng-cloak ng-show="forgetClick == 4" style="background-color: #fff; width: 700px;  margin: 50px auto;">
              <div class="msg-tit">
                <span class="msg-img"><img  src="images/success.png"/></span>
                <div class="msg-content" style="padding-top:20px;">
                  <span class="msg-tit-weg">您的用户密码已重置完成！</span>
                  <span class="msg-tit-site"><em id="sec" name="sec">5</em>秒后<a   href="../#/index"  style="cursor: pointer;color: #009fe9;font-weight: 800;">返回登录页面</a></span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="copyright-100">
      <div class="y-row copyright" style="padding: 5% 0 40px;">
        <!--<p class="big">联系我们：<em style="margin-left: 15px;" class="copy-em">010 - 8414 8078</em>（北京）<em style=" margin-left: 20px;" class="copy-em">021 - 6882 8631</em>（上海）</p>-->
        <!--<p class="fine copyright-forget">{{passwordConfig.copyright}}</p>-->
      </div>
    </div>
    <!-- jQuery -->

    <script src="../node_modules/requirejs/require.js" data-main="js/main"></script>

  </body>

</html>