<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="shortcut icon" href="../images/proudsmart_logo100.png" type="image/vnd.microsoft.icon">-->
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!--<link rel="stylesheet" href="css/common.css">-->
    <!--<link rel="stylesheet" href="css/index.css">-->
    <link rel="stylesheet" href="css/global.css">

    <link rel="stylesheet" href="css/register.css">

    <!-- <link rel="stylesheet" href="css/marketplace-default.css"> -->
    <!--<link rel="stylesheet" href="css/main.css">-->
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="./css/login/login.css">-->
    <!-- Bootstrap 样式-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/admin-lte/AdminLTE.css">
    <link rel="stylesheet" href="css/login.css">
    <!-- Bootstrap dialog响应样式 -->
    <link href="../node_modules/bootstrap3-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet">

    <style type="text/css">
      @charset "UTF-8";
      [ng\:cloak],
      [ng-cloak],
      [data-ng-cloak],
      [x-ng-cloak],
      .ng-cloak,
      .x-ng-cloak,
      .ng-hide {
        display: none !important;
      }
      
      ng\:form {
        display: block;
      }
      
      .ng-animate-start {
        clip: rect(0, auto, auto, 0);
        -ms-zoom: 1.0001;
      }
      
      .ng-animate-active {
        clip: rect(-1px, auto, auto, 0);
        -ms-zoom: 1;
      }
    </style>
  </head>

  <body style="background-color: #ffffff;" ng-controller="passwordController">
    <div id="header">
      <div class="header-layout" style="padding-left: 20px;padding-right: 20px;">
        <a class="logo"><img src="{{logoImg}}"></a>
        <label class="logo-title">修改密码</label>
        <div class="header-nav">
          <span style="margin-top: 18px;"><a style="color: #444;"  ng-click="tuichu();">返回登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a style="color: #444;" href="{{websiteUrl}}">公司首页</a></span>
        </div>
      </div>
    </div>
    <form name="formname" id="form" autocomplete="off">
      <div class="page" style="padding-top: 0%;">
        <div class="reg-main" style="padding-top: 0px;">
          <div class="content" style="background-color:#ffffff;min-height:0px;">
            <div class="box-body col-sm-9">
              <div class="form-group">
                <label for="inputEmail3" class=" margin-lf control-label">
                   <i style="font-size: 23px;color: #f56e00;float: left;margin-top: 4px;margin-right: 5px;" class="fa fa-exclamation-circle"></i>
                 <em style="font-size: 16px;color:#f56e00;">温馨提示：为了您的账户安全,请修改初始密码</em>
                </label>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">旧密码</label>
                <div class="col-sm-7">
                  <input type="password" ng-class="{1010:'error-boder',10010:'error-boder'}[emailOnly]" autocomplete="off" ng-model="pwdList.configPwd" maxlength="100" name="firstname" class="form-control" placeholder="请输入旧密码" />
                  <div class="msg-cnt msg-type-error margin-10 " ng-cloak ng-show="confirmShow == 1010">旧密码不能为空！</div>
                  <div class="msg-cnt msg-type-error margin-10 " ng-cloak ng-show="confirmShow == 2011">您的旧密码输入错误，请重新输入！</div>

                </div>
              </div>
              <div class="form-group margin-top-10">
                <label for="inputEmail3" class="col-sm-3 control-label ">新密码</label>
                <div class="col-sm-7">
                  <input type="password" ng-model="pwdList.newPwd" autocomplete="off" ng-class="{1010:'error-boder',10010:'error-boder'}[emailOnly]" ng-pattern="/^(?![\d]+$)(?![a-zA-Z]+$)(?![_-]+$)[\da-zA-Z_-]{6,20}$/" ng-model="formData.userName" maxlength="20" name="newPwd" class="form-control" placeholder="请输入新密码">
                  <div class="msg-type-error margin-10" ng-cloak ng-show="confirmShow == 1011">新密码不能为空！</div>
                  <div class="msg-type-error margin-10" ng-cloak ng-show="formname.newPwd.$error.pattern">6到20位 由数字、字母、_-2种以上组成</div>
                  <div class="msg-type-error margin-10" ng-cloak ng-if="confirmShow == 10010">
                    <span class="text-danger" ng-bind="codeMessage"></span>
                  </div>
                </div>
              </div>
              <div class="form-group margin-top-10">
                <label for="inputEmail3" class="col-sm-3 control-label ">确认新密码</label>
                <div class="col-sm-7">
                  <input type="password" ng-class="{'1':'error-boder'}[emailOnly]" ng-model="pwdList.regPwd" maxlength="20" placeholder="请输入确认密码" autocomplete="off" class="form-control" />
                  <div class="msg-type-error margin-10 " ng-cloak ng-show="confirmShow == 1">两次密码输入不一致！</div>
                  <div class="msg-type-error margin-10" ng-cloak ng-show="confirmShow == 100001"> 确认新密码不能为空</div>
                </div>
              </div>
              <div class="form-group margin-top-10">
                <label for="inputEmail3" class="col-sm-3 control-label ider-cs">验证码</label>
                <div class="col-sm-4 ider-cs-inp">
                  <input type="text" ng-model="identifyName" ng-model="identifyName" ng-class="{3:'error-boder','30001':'error-boder'}[emailOnly]" class="form-control" id="inputEmail3" placeholder="请输入验证码" />
                  <div class="msg-type-error margin-10" ng-cloak ng-show="confirmShow == 3">验证码输入错误</div>
                  <div class="msg-type-error margin-10" ng-cloak ng-show="emailOnly == 30001">验证码不能为空</div>
                </div>
                <div style="padding: 0;" class="col-sm-5 ider-cs-img">
                  <image style="height: 36px;" ng-click="blindClick();" class="img-width" ng-src="data:image/png;base64,{{imgCode}}" />
                  <label style="cursor: pointer;color: #009fe9;"  ng-click="blindClick();">换一张 </label>
                </div>
              </div>
              <div class="form-group">
                <!--<label class="col-sm-3 control-label"></label>-->
                <div class="col-sm-7 btn-foot" >
                  <button ng-click="initPwd();" class="btn btn-block btn-primary btn-lg" style="background-color: #009fe9;">确认修改</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="copyright-100" ng-show="enterprise.copyRight == null ">
      <div class="y-row copyright" style="padding: 5% 0 40px;">
        <!--<p class="big">联系我们：<em style="margin-left: 15px;" class="copy-em">010 - 8414 8078</em>（北京）<em style=" margin-left: 20px;" class="copy-em">021 - 6882 8631</em>（上海）</p>-->
        <!--<p class="fine">© 2015 proudsmart.com 版权所有 鲁ICP备15033683号</p> -->
        <p class="fine">{{enterprise.copyRight}}</p>
      </div>
    </div>

    <script src="../node_modules/requirejs/require.js" data-main="js/main"></script>
  </body>
</html>