.dropdowntree,
.energytree {
  width: 100%;
  position: relative;
  box-sizing: content-box;
}

.dropdowntree #container,
.energytree #container {
  transition: .3s all linear;
  -webkit-transition: .3s all linear;
  margin-top: -4px;
  margin-left: 0px;
  position: absolute;
  max-height: 200px;
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #d2d6de;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  z-index: 999;
  cursor: pointer;
  overflow: auto;
}

.dropdowntree #container.noview,
.energytree #container.noview {
  opacity: 0;
  max-height: 0;
}

.dropdowntree .wrap,
.energytree .wrap {
  margin: 0;
  color: #666;
  padding: 6px;
  /*width: 100%; zhangafa取消，如果有问题请告知*/
  transition: .1s linear all;
  border-bottom: 1px solid #d2d6de;
  -webkit-transition: .1s linear all;
  position: relative;
}

.dropdowntree .wrap .vline,
.energytree .wrap .vline {
  display: none;
  border-left: 1px solid #eee;
  top: 0;
  height: 34px;
  width: 10px;
  position: absolute;
}

.dropdowntree .wrap .vline.last::before,
.energytree .wrap .vline.last::before {
  content: '';
  display: block;
  height: 17px;
  width: 10px;
  border-bottom: 1px solid #eee;
}

.dropdowntree .wrap .glyphicon,
.energytree .wrap .glyphicon {
  color: #666;
  /*margin-right: 10px;*/
  /*background-color: #fff;*/
  padding: 0px 2px 0px 0px;
  /*border: 1px solid #aaa;*/
}

.dropdowntree .wrap.active,
.energytree .wrap.active {
  color: #fff;
  background-color: #2EA8FF;
}

.dropdowntree .wrap.active .vline,
.energytree .wrap.active .vline {
  border-left: 1px solid #FFF;
  top: 0;
  height: 34px;
  position: absolute;
}


/*.dropdowntree .wrap.active .glyphicon.glyphicon-plus {
  border: 1px solid #FFF;
}
.dropdowntree .wrap.active .glyphicon.glyphicon-minus {
  border: 1px solid #FFF;
}*/

.dropdowntree .wrap.active:hover,
.energytree .wrap.active:hover {
  background-color: #2EA8FF;
}

.dropdowntree .wrap:hover,
.energytree .wrap:hover {
  background-color: #eee;
}

.dropdowntree .wrap:hover .vline,
.energytree .wrap:hover .vline {
  display: none;
  border-left: 1px solid #aaa;
  top: 0;
  height: 34px;
  position: absolute;
}

.dropdowntree .hidechildren,
.energytree .hidechildren {
  display: none;
}

.ttext {
  font-size: 12px;
  color: #fff;
  line-height: 24px;
}

.sub {
  border: 0;
  position: relative;
}

.sub .glyphicon {
  margin-right: 10px;
  pointer-events: none;
  position: absolute;
  display: block;
  right: 18px;
  top: 20px;
  color: #aaa;
  font-size: 14px;
}

.sub input {
  background-color: #fff;
}
